*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.header{
 
    max-width: 90vw;
    height: fit-content ;
    padding: 15px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    display: flex;
    flex-basis: 30%;
}
h2{
    font-weight: 300;
}
nav{
    
    flex-basis: 40%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 15px;
    margin-right: 8px;
}
nav ul li a:hover {
background-color: rgb(240,240,240);
border-radius: 10px;
border: none;
}
nav ul li{
    padding: 10px;
}
nav ul li .contact-btn{
    
 background-color: black;
    color: white;
    border-radius: 10px; 
}
.contact-btn:hover{
    background-color: white;
    color: black;
    border: 0.5px solid black;
}
/*global*/
 .logo-text {
    color: steelblue;
    font-weight: 500;
    margin: 3 px;
 }
 .active-link {
    border-bottom: 3px solid #fce6b4;
 }
 a{
    text-decoration: none  ;
   
}
.footer-title{
    font-weight: 500;
    background-color: #fce6b4;
    width: 130px;
}


/*highlights */

.highlight{
    background-color: #d5adc8;
}
.title{
    font-size: 2rem ;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}


 /*hero section*/
 .hero{
    background-color: #d5adc8;
    background-image: linear-gradient(315deg,0%, #f5bbbd 74%);
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
 }

/*showcase*/
.container{
    width: 90vw;
    margin: auto;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    height: fit-content;

}
.col-2{
    flex-basis: 45%;
    min-width:400px ;
    margin: 2%;
    padding: 15px;
    background-color:  rgb(247, 241, 233);
    border-radius: 6px;
}
.col-2 img{
   width: 100%;
}

/*trips*/
.trips{
    margin-bottom: 80px;
}

.trip{
    min-height: 150px;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgb(0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.trip :hover{
    background-color: #d5adc8;
}

.trip i{
 font-size: 3rem;
 margin: 10px;
}

/*icons*/
.fa-plane-departure {
color: rgb(128, 133, 240);

}

.fa-ship{
    color: rgb(128, 133, 240);
}

.fa-bus{
color: rgb(128, 133, 240);
}


.col-3{
    flex-basis: 30%;
    min-width: 300px;
    margin: 1%;
    background-color: #faf9f5;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
/*footer*/
footer{
padding: 40px;
background-color: rgb(230,230,230);
border-radius: 6px;
}

.col-4{
    flex-basis: 22%;
    min-height: 240px;
    margin: 1%;
}

.col-4-items{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.col-4-items>small{
    padding: 10px;
}
a{

}

.sub-footer{
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
i{
    font-size: 1.4rem;
    margin-left: 10px;
    background-color: azure;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);

}

.fa-facebook:hover{
    color:blue;
}

.fa-instagram:hover{
    color:purple;
}

.fa-twitter:hover{
    color:lightblue;
}

a{
    color: inherit;
}

/*services page*/

.boxess{
    background-color: rgb(249,251,253);
    border-radius: 6px;
}
.box{
    border: 1px solid gray;
    border-radius: 4px;
}

.box-one{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: #fce6b4;
}
.box-one image:hover {
    transform: translate(120px 20%);
    transition: all 0.3s ease-in-out;

}

.box-two{
    background-color: #fffcf6;
    
}


.btn{
    height: 55px;
    border: none;
    padding: 15px;
    font-size:  1.2 rem;
    font-family: inherit;
    background-color: rgb(107,107,107);
    color:white;
    border: 1px solid black; 
    margin:10px;
    border-radius: 4px;
}
.btn:hover{
    background-color: rgb(128, 133, 240);
    transition: all 0.25s ease-in-out;
}

/*contact page*/

.form{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0px 0px 5px  rgba(0,0,0,0.2);
}

.form .form-control{
    width: 100%;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border:none;

}

input[type=text]:focus
input[type=email]:focus
input[type=number]:focus
{

    outline: none;

}

select{
    padding: 20px;
    width: 100%;
    font-size: inherit;
    border: none;
}

.submit input{

    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
}
.submit input:hover{
    background-color: #fce6b4;
    color: black;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.contact.text {
    background-color: #fce6b4;
    padding: 15px;
}

@media screen and ( max-width: 680px){
    nav ul{
 background-color: #b8c6db;
 background-image: linear-gradient(315deg,#b8c6db 0% f5f7fa 74%);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 transition :max-height 0.5s;

 }

 nav ul li{
    display: block;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 nav ul li {
    color: black;

 }

    .logo{
        display: none;
    }
}






























